<!--
<form method="POST" action="thankyou/">
  {% csrf_token %}
    Description<input type="text" value="{{items.description}}"name="description"><br>
    Due Date<input type="text" value="{{items.due_date}}" name="date"><br>
    status<input type="text" value="{{items.status}}" name="status"><br>
<button type="submit">Update</button>
-->

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'HealthNet/css/bootstrap.min.css'%}" />

<link rel="stylesheet" type="text/css" href="{% static 'HealthNet/css/jumbotron.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'HealthNet/css/ie10-viewport-bug-workaround.css' %}" />

<script src="{% static 'HealthNet/js/bootstrap.min.js'%} "></script>

<script src="{% static 'HealthNet/js/ie10-viewport-bug-workaround.js'%}"></script>

<script src="{% static 'HealthNet/js/ie-emulation-modes-warning.js' %}"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<style type="text/css">
  td{
    padding: 2px;
  }
</style>
<form method="POST" action="thankyou/" id="my_edit">
  {% csrf_token %}
<table>
    <tr>
      <td>Description</td>
      <td><input type="text" value="{{items.description}}"name="description"></td>
    </tr>
    <tr>
      <td>Due Date</td>
      <td><input type="text" value="{{items.due_date}}" name="date"></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><input type="radio" name="status" value="In Progress">In Progress</td>
      <td><input type="radio" name="status" value="Done">Done</td>
    </tr>

</table>
<button type="submit" form="my_edit">Update</button>
</form>
