<style>
  th{
    text-align: left;
  }
  td{
    border: 1px solid black;
  }
  table{
    border-collapse: collapse;
    width: 100%;
  }
  #no_border{
    border: 0px solid;
  }
</style>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'ToDoList/css/bootstrap.min.css'%}" />

<link rel="stylesheet" type="text/css" href="{% static 'ToDoList/css/jumbotron.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'ToDoList/css/ie10-viewport-bug-workaround.css' %}" />

<script src="{% static 'ToDoList/js/bootstrap.min.js'%} "></script>

<script src="{% static 'ToDoList/js/ie10-viewport-bug-workaround.js'%}"></script>

<script src="{% static 'ToDoList/js/ie-emulation-modes-warning.js' %}"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<table>
  <tr>

    <td>Description</td>
    <td>Due Date</td>
    <td>Status</td>

  </tr>
  {% for item in list_t %}
  <tr>

    <td>{{item.description}}</td>
    <td>{{item.due_date}}</td>
    <td>{{item.status}}</td>
    <td id="no_border"><button type="button" class="btn btn-default"><a href="{{item.id}}/edit/">Edit</a></button></td>
    <td id="no_border"><button type="button" class="btn btn-danger"><a href="{{item.id}}/delete">Delete</button></li></td>
  </tr>
  {%endfor%}
</table>
<br>
<button type ="button" class="btn btn-success"><a href="{% url 'new' %}">New</a></button>
